In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/wangconghao/Documents/Computational Biology/Network_fusion/FYP_WULUE-master/TARGET_RNAseq/HTSeq_counts/'

In [3]:
clinical = pd.read_csv(path+'clinical.tsv', sep='\t', index_col='case_submitter_id', usecols=['case_submitter_id', 'vital_status'])
# clinical = pd.read_csv(path+'clinical.tsv', sep='\t', usecols=['case_id', 'vital_status'])
clinical.head()

                  vital_status
case_submitter_id
TARGET-30-PAKZRH         Alive
TARGET-30-PAPKXS          Dead
TARGET-30-PARFWB          Dead
TARGET-30-PAPUEB         Alive
TARGET-30-PAPVFD          Dead

In [8]:
clinical.shape

(155, 1)

In [4]:
clinical.replace({'Dead':1, 'Alive':0}, inplace=True)
clinical.head()

                   vital_status
case_submitter_id
TARGET-30-PAKZRH              0
TARGET-30-PAPKXS              1
TARGET-30-PARFWB              1
TARGET-30-PAPUEB              0
TARGET-30-PAPVFD              1

In [9]:
# sample_sheet = pd.read_csv(path+'sample_sheet.tsv', sep='\t', index_col='File ID', usecols=['File ID', 'File Name', 'Case ID'])
# sample_sheet = pd.read_csv(path+'sample_sheet.tsv', sep='\t', usecols=['File ID', 'File Name', 'Case ID'])
sample_sheet = pd.read_csv(path+'sample_sheet.csv')
sample_sheet.head()

,Case ID,File ID,File Name
0,TARGET-30-PAIFXV,5fe187f0-9749-48ca-96dc-7e4e97bab987,d5b38dfa-5b4b-4f52-b938-f3339b53f295.htseq_cou...
1,TARGET-30-PAIPGU,93da93a3-1ac3-4c40-8e18-b2930ccdea7d,8e5546e8-6043-4d8c-a926-9da125530883.htseq_cou...
2,TARGET-30-PAISNS,5fd90c0a-7ac4-49c5-b5f7-6772cb5bff10,c5af09bc-a060-4c6c-8076-f7d0b43f4822.htseq_cou...
3,TARGET-30-PAITCI,1449832f-64f6-4835-9880-4a8101dccb0b,d5912ef5-1d89-4809-951f-20c04bb25cf2.htseq_cou...
4,TARGET-30-PAIVHE,383a2d80-fb27-401e-ac65-70297065fc85,510dc7b2-f9b4-4ee3-8356-5f83afd67fbe.htseq_cou...

In [10]:
sample_sheet.shape

(157, 3)

In [11]:
# sample_sheet_copy = sample_sheet.copy()
# sample_sheet_copy.drop_duplicates(inplace=True)
# sample_sheet_copy.shape

In [12]:
samples = sample_sheet.to_numpy()
print(samples)

[['TARGET-30-PAIFXV' '5fe187f0-9749-48ca-96dc-7e4e97bab987'
  'd5b38dfa-5b4b-4f52-b938-f3339b53f295.htseq_counts.txt.gz']
 ['TARGET-30-PAIPGU' '93da93a3-1ac3-4c40-8e18-b2930ccdea7d'
  '8e5546e8-6043-4d8c-a926-9da125530883.htseq_counts.txt.gz']
 ['TARGET-30-PAISNS' '5fd90c0a-7ac4-49c5-b5f7-6772cb5bff10'
  'c5af09bc-a060-4c6c-8076-f7d0b43f4822.htseq_counts.txt.gz']
 ['TARGET-30-PAITCI' '1449832f-64f6-4835-9880-4a8101dccb0b'
  'd5912ef5-1d89-4809-951f-20c04bb25cf2.htseq_counts.txt.gz']
 ['TARGET-30-PAIVHE' '383a2d80-fb27-401e-ac65-70297065fc85'
  '510dc7b2-f9b4-4ee3-8356-5f83afd67fbe.htseq_counts.txt.gz']
 ['TARGET-30-PAKYZS' '1935ed8e-db54-4d72-8112-c6421f635958'
  'b791909c-76d4-46d8-8f2d-c3bc402357db.htseq_counts.txt.gz']
 ['TARGET-30-PAKZRH' 'ef30dd33-d892-408a-89b3-1392a9bfdc02'
  'dfe77aba-f62f-44e6-80ab-d4448109b835.htseq_counts.txt.gz']
 ['TARGET-30-PALBFW' 'fc0474e1-fb11-42b1-8fa5-227bba74948d'
  '1afe17a2-8c31-4dce-b8af-504da9baa93e.htseq_counts.txt.gz']
 ['TARGET-30-PALCBW' '7fb2686c-c70b-4b22-b440-dd24e9a281cc'
  '305e4870-0f71-4f85-a0fa-6416711c8254.htseq_counts.txt.gz']
 ['TARGET-30-PALETP' '9861310e-d079-4c24-920c-531739987648'
  '7ec7718b-cc73-4bfd-beb5-6906fe8a2b7f.htseq_counts.txt.gz']
 ['TARGET-30-PALEVG' '1a07c475-29cf-421b-9f3b-179d2739cd8e'
  '89357d0d-87b1-4222-b054-e7a030cacb84.htseq_counts.txt.gz']
 ['TARGET-30-PALIIN' '907ea5f9-1fff-482a-9cf0-c3279b3d5737'
  '8bda33fc-1e5d-4150-b028-d15931c18eea.htseq_counts.txt.gz']
 ['TARGET-30-PALNVP' '61a4389a-a5d4-425b-8b5f-18d38459da19'
  '816c4339-3f71-4d27-872f-f46070f6b03e.htseq_counts.txt.gz']
 ['TARGET-30-PALXTB' 'ee56f11e-a550-4cc6-a376-f3e392e44267'
  'be3f42ec-c6bd-47d4-b9c1-367612dc3c9e.htseq_counts.txt.gz']
 ['TARGET-30-PALZZV' '7151f9ba-45aa-48fc-af70-d9440f21d56d'
  '39929f77-9d59-4b19-8a37-2e3bbd61e673.htseq_counts.txt.gz']
 ['TARGET-30-PAMMXF' '83849ddf-7fa7-42bd-8196-f4643134c28a'
  '6139e209-dabc-481f-a9f1-3d505ea65f11.htseq_counts.txt.gz']
 ['TARGET-30-PAMNLH' '25c8b2c2-6669-486e-9c7f-1e5a1951a363'
  'fd140e4b-5d0e-44f9-9734-273a3d163a9b.htseq_counts.txt.gz']
 ['TARGET-30-PAMYCE' '6df5fc35-cc8a-4c67-a6c4-bce75504d6ab'
  '731c52e6-af7b-4b1d-b73e-a04c884c3fe8.htseq_counts.txt.gz']
 ['TARGET-30-PAMZGT' '1b92af1f-909c-4103-b336-33fdaef8cc00'
  '35efaf5b-1a9e-42f0-a345-2fff56f4c93e.htseq_counts.txt.gz']
 ['TARGET-30-PAMZMG' '897180bb-1d44-4f6e-8b66-fc3dfe087f4c'
  '4f9df182-1a12-4b3a-8a01-dc9ceabfa936.htseq_counts.txt.gz']
 ['TARGET-30-PANBMJ' '16c98d71-a518-4482-ad67-cf907b5628ca'
  'bbdc2d62-f357-403e-a9a4-c9f766e334b7.htseq_counts.txt.gz']
 ['TARGET-30-PANBSP' '84bbd7c9-c2ee-4a06-8e19-c48ee5ac6151'
  'eb633ff5-7da5-4bdc-ad17-ff2117e67a27.htseq_counts.txt.gz']
 ['TARGET-30-PANKFE' '387cb353-7fe8-486e-b5b3-7cfa0a7ef574'
  '5884f40c-59a7-4e06-a2c9-1a528160f1cb.htseq_counts.txt.gz']
 ['TARGET-30-PANLET' 'e5743475-4581-4e5a-9e4f-17bcd1937562'
  '4e8c338c-70c7-4f2b-bc9b-cd009854170c.htseq_counts.txt.gz']
 ['TARGET-30-PANNMS' '2755f8b5-5fc2-47b7-ac95-e53677bb6c16'
  '9776c00a-b6f0-461f-9764-3d8aaccbccc6.htseq_counts.txt.gz']
 ['TARGET-30-PANRHJ' '493b5804-ecaf-48ae-b689-671c7b287726'
  '1ab3101d-71e0-44a1-9c71-04032f6765ed.htseq_counts.txt.gz']
 ['TARGET-30-PANRRW' '461b0743-f775-4744-abcc-422fe8181335'
  '7c9dd9f9-5b6d-45dc-980d-d05215587ec0.htseq_counts.txt.gz']
 ['TARGET-30-PANRVJ' '2fdbb471-ebb4-492f-9bb2-ea39d8a80c06'
  '7b26cb50-2019-453f-a8e5-0634489b4a48.htseq_counts.txt.gz']
 ['TARGET-30-PANUIF' '34d44428-3ed5-441b-90e4-1c279fd797da'
  '441c9d1b-0257-444d-bb54-29337f381518.htseq_counts.txt.gz']
 ['TARGET-30-PANUKV' '936e9a45-d879-4500-9571-7024e5dc053a'
  'd5589fcc-c841-43d5-ae2a-ce5ee0914c7e.htseq_counts.txt.gz']
 ['TARGET-30-PANWRR' '476790c8-cb1d-4971-817f-4ba1c589de70'
  '5896ff4b-fc47-47da-bcec-20d113c5b088.htseq_counts.txt.gz']
 ['TARGET-30-PANXJL' 'ce0f4f9c-a248-4e35-a007-18798bd7b2c8'
  'c8287de8-5b65-44a8-88b7-e13efd431db5.htseq_counts.txt.gz']
 ['TARGET-30-PANYGR' 'd2eb12df-a848-462d-ba3a-7f6acb228073'
  'fdb03476-e308-4aa8-ac40-d663362476b6.htseq_counts.txt.gz']
 ['TARGET-30-PANZPV' 'fb68957c-8e66-412d-a4a1-e1a4aaca0484'
  '6e22000e-049c-4d5c-b88b-b13ba26cc7ef.htseq_counts.txt.gz']
 ['TARGET-30-PANZVU' 'b5c57628-44bc-4ec2-94d8-18d5ed1855d9'
  '9b03fbe0-5391-49a3-b13a-c9f85b51969a.htseq_counts.txt.gz']
 ['TARGET-30-PAPBGH' '4ecf1a4d-8c92-4166-925f-8f63dcb8417b'
  '1b131c20-f9b7-46d7-bd38-5fe115bc3a0f.htseq_counts.txt.gz']
 ['TARGET-30-PAPBJE' '4a61c1d1-a142-4e21-9168-c094cb4cfff8'
  'c59a6319-cd42-40f4-8001-f6be4fe4c1d6.htseq_counts.txt.gz']
 ['TARGET-30-PAPBZI' '5f53e574-526d-455c-a0d1-5ae5c06900c0'
  'ac083b91-bd97-4be3-8158-22e3860d0b92.htseq_counts.txt.gz']
 ['TARGET-30-PAPCTS' '2604c873-e88c-49ab-9c82-173952ec1990'
  'e271fb08-5536-417c-b3e1-45bf8edb05f6.htseq_counts.txt.gz']
 ['TARGET-30-PAPEAV' '99b36164-ff85-4a6b-85de-77bd42aff592'
  'fa6a16c4-9eb9-4f04-a784-1a84f57cb479.htseq_counts.txt.gz']
 ['TARGET-30-PAPEFE' '70d1c85d-597d-499a-8837-6f1de8804d23'
  'de373a05-1b10-43c1-8824-e63fb87e706e.htseq_counts.txt.gz']
 ['TARGET-30-PAPHPE' 'eb134369-fcb6-48c0-878e-e527aa6b5845'
  'ecb7c58f-2d70-4283-93f4-fb84713400e8.htseq_counts.txt.gz']
 ['TARGET-30-PAPICY' 'd5e01627-4934-4336-b25c-0191819b5c2c'
  '6a668451-5dbf-49e3-a3ad-abc36a72cb38.htseq_counts.txt.gz']
 ['TARGET-30-PAPKWN' 'bccf6bd4-1ab7-4ea8-825b-2812ad9152b4'
  '363959ce-3260-4aa3-ae28-c7b5a4887bd2.htseq_counts.txt.gz']
 ['TARGET-30-PAPKXS' '30ce4e8a-eb75-4e93-b8fa-33527f81586e'
  '3316296d-3868-4883-bec3-a35727e0e99f.htseq_counts.txt.gz']
 ['TARGET-30-PAPTAN' 'e84b3a87-8735-4a15-810c-f1b291f6a1f2'
  'da4cf602-3020-4e18-b707-96e0576df213.htseq_counts.txt.gz']
 ['TARGET-30-PAPTCR' 'c0bc3c2c-395d-4994-ad36-e5e08a1fe131'
  '54fbf39a-70b3-4bd1-a39b-597e21d77214.htseq_counts.txt.gz']
 ['TARGET-30-PAPTDH' '9c1cef9f-04cf-42fb-b112-1145417ea962'
  '85113d4a-643d-4f1b-840b-fe00bafb631e.htseq_counts.txt.gz']
 ['TARGET-30-PAPTFZ' '1e722789-4fc6-4f60-ac83-fd8a2f9fc0f1'
  'e03c47ea-5f5a-4afa-8406-8d71367d72eb.htseq_counts.txt.gz']
 ['TARGET-30-PAPTLV' 'ed80cd65-41d0-4339-98a0-e6eeb8570595'
  '5db6f7bb-1e88-442a-a138-5365fa77f5d5.htseq_counts.txt.gz']
 ['TARGET-30-PAPUAR' 'd9de5328-2f5d-4915-b322-2b4aa7c5391a'
  '71edd401-29be-401e-b2de-f5fdca3964d2.htseq_counts.txt.gz']
 ['TARGET-30-PAPUNH' '0616e90d-c930-41c4-ad9c-fa77369b62cd'
  '938530f1-31ba-4b71-83d5-0bdbdb59f422.htseq_counts.txt.gz']
 ['TARGET-30-PAPUWY' 'b19431df-0e34-4771-adda-6dbffcb60503'
  'a46c4421-42d7-49b3-b109-f8bbe1e2bc83.htseq_counts.txt.gz']
 ['TARGET-30-PAPVEB' 'ff5c0f9d-93ac-4c46-ad72-f346a7906e92'
  'cae343e0-3ad9-4742-bb50-2d1cc32a1209.htseq_counts.txt.gz']
 ['TARGET-30-PAPVEB' 'ff5c0f9d-93ac-4c46-ad72-f346a7906e92'
  'cae343e0-3ad9-4742-bb50-2d1cc32a1209.htseq_counts.txt.gz']
 ['TARGET-30-PAPVFD' '77f7126e-d777-49f1-a9cf-109f05d770fb'
  'e0e404be-2759-4ac7-a309-f2a2e74b76a8.htseq_counts.txt.gz']
 ['TARGET-30-PAPVRN' 'c293680d-534d-4ec9-ac38-f1866bb0562e'
  '69cf48ed-22b4-4ac9-aa26-3d4dd294fe69.htseq_counts.txt.gz']
 ['TARGET-30-PAPVXS' 'f36743ef-487d-479a-a9ea-a4235f2f3663'
  '6329a2ab-048f-4134-abb0-1d029b1a5721.htseq_counts.txt.gz']
 ['TARGET-30-PAPZYP' 'bb6aaf7e-7933-46e1-b0f9-5c8a9315fd36'
  '6b12b00b-f3bc-4294-b057-3a5dbb584921.htseq_counts.txt.gz']
 ['TARGET-30-PAPZYZ' 'f8ac9aae-bcb3-4989-b813-55b596ef631d'
  '7066d065-c9b3-4669-8860-477194d26312.htseq_counts.txt.gz']
 ['TARGET-30-PARACM' '9eec1dbb-6239-42eb-8e1b-cecb4bd143b2'
  'c8ef6f4c-6676-40a1-a2b4-bb047ca9b90d.htseq_counts.txt.gz']
 ['TARGET-30-PARACS' 'fb62150f-c9b8-4da3-9202-e5aeb2b1d1a4'
  '310fd11e-5c25-46d9-80e9-54bc22c36dec.htseq_counts.txt.gz']
 ['TARGET-30-PARAMT' '108788c1-23a4-4d6c-8f96-8db816846873'
  '398b3c02-17e5-468b-92d6-40b063644fbf.htseq_counts.txt.gz']
 ['TARGET-30-PARBAJ' '69d3de18-2e01-4938-adb1-99c9d44c80b0'
  '00c8f515-dcdc-4795-ade1-ec91a9ed451e.htseq_counts.txt.gz']
 ['TARGET-30-PARBAJ' 'ebb33ff5-c29a-4368-9a97-4e57e5398f4a'
  '29a72da5-b9b4-4d15-9ecb-c42138c95f4f.htseq_counts.txt.gz']
 ['TARGET-30-PARBAJ' '69d3de18-2e01-4938-adb1-99c9d44c80b0'
  '00c8f515-dcdc-4795-ade1-ec91a9ed451e.htseq_counts.txt.gz']
 ['TARGET-30-PARBAJ' 'ebb33ff5-c29a-4368-9a97-4e57e5398f4a'
  '29a72da5-b9b4-4d15-9ecb-c42138c95f4f.htseq_counts.txt.gz']
 ['TARGET-30-PARBGP' '2d78c8c4-2790-458d-a3be-abcf3d4f2a69'
  '3a101d74-ce63-4f2e-a962-a9c24b108add.htseq_counts.txt.gz']
 ['TARGET-30-PARDCK' '8f8989cc-a1c1-42b4-b688-85b3395fa33f'
  'cd3af81d-8ec2-4d2e-baa7-40ca99a136e1.htseq_counts.txt.gz']
 ['TARGET-30-PARDIW' '275dd737-1bfe-43ae-9b80-db4c5bbff467'
  '6e9d1166-b1b0-4647-9322-6bbdf29cb653.htseq_counts.txt.gz']
 ['TARGET-30-PARFRE' '95b2ba6d-1729-4780-a51a-2f5b516a1cd1'
  '2bf3b6f4-8ee8-4164-94d7-0ddfad92de4f.htseq_counts.txt.gz']
 ['TARGET-30-PARFWB' 'f246df10-7778-4b2a-a8c7-2bad5fe8ac84'
  '8a8adc52-d247-4d41-b32c-a670f059cdb3.htseq_counts.txt.gz']
 ['TARGET-30-PARGKK' 'b33e08c7-83af-46f7-a1ba-518a1416d72f'
  'aa9a48f3-f369-405a-9a4d-2ec5020f1980.htseq_counts.txt.gz']
 ['TARGET-30-PARHAM' '75430a59-3d08-4727-91a0-01f2d9da4ebf'
  '73a28323-20a9-4d5b-a6db-1101ad76dd89.htseq_counts.txt.gz']
 ['TARGET-30-PARHAM' '9c90d25f-1fce-4907-9b41-9bb60637974e'
  '8de6cf90-332b-410c-864f-1305da952871.htseq_counts.txt.gz']
 ['TARGET-30-PARHAM' '75430a59-3d08-4727-91a0-01f2d9da4ebf'
  '73a28323-20a9-4d5b-a6db-1101ad76dd89.htseq_counts.txt.gz']
 ['TARGET-30-PARHAM' '9c90d25f-1fce-4907-9b41-9bb60637974e'
  '8de6cf90-332b-410c-864f-1305da952871.htseq_counts.txt.gz']
 ['TARGET-30-PARJVP' '01d5cd2f-d8bd-4a62-9ab0-74962a06126e'
  'ada4b561-d2cc-45c3-9ba6-4d039fd501f6.htseq_counts.txt.gz']
 ['TARGET-30-PARKGJ' '8d1985e8-d847-436d-b3a3-f9e85bf99840'
  'f5bcd5f6-3c83-4e57-b572-b46ef606b702.htseq_counts.txt.gz']
 ['TARGET-30-PARKGJ' '8d1985e8-d847-436d-b3a3-f9e85bf99840'
  'f5bcd5f6-3c83-4e57-b572-b46ef606b702.htseq_counts.txt.gz']
 ['TARGET-30-PARNNC' '97bbb3e1-b9c6-4831-8158-098731ad7a04'
  '429d55a8-3ec7-42d5-aa55-e9e765c9ab53.htseq_counts.txt.gz']
 ['TARGET-30-PARSBI' 'dca67839-1373-42aa-8157-e13780f5c3d7'
  '7383de1a-7268-4572-a0eb-c73c3444e573.htseq_counts.txt.gz']
 ['TARGET-30-PARVLK' '2ae8e717-52f1-4f8b-b9c9-1cadf36753a0'
  'eaa62e81-8be5-4690-8245-0ed06c21c98e.htseq_counts.txt.gz']
 ['TARGET-30-PARYNK' '3bd9f994-45b7-42a8-93c3-7ab7f52c2591'
  'da9a9aff-e8d4-4e83-989e-4430c11fe30d.htseq_counts.txt.gz']
 ['TARGET-30-PARZCJ' '9d907a76-55f1-402e-8944-d20941b9c49c'
  'f1e9c077-7df4-4abd-a30e-0fa80a09ea8d.htseq_counts.txt.gz']
 ['TARGET-30-PARZHA' '84c554c4-a178-45f6-8b5c-bbc0c4f2dca5'
  'b4e322b2-ec83-47c4-8852-9a06a445192e.htseq_counts.txt.gz']
 ['TARGET-30-PARZIP' 'e71a4b21-25f5-4580-8be8-1d03084b9bcb'
  'e9960fc5-8a58-4ed4-bf19-f9e3d98d4d4d.htseq_counts.txt.gz']
 ['TARGET-30-PASCFC' '05c39a11-f7f1-42fb-9ea2-9727aeb4734d'
  '2247cd0b-1358-497e-8dec-9b83ce648171.htseq_counts.txt.gz']
 ['TARGET-30-PASCTR' 'ed95bb5c-cdd2-4457-bf09-e8050760ec7c'
  'cefee6a3-7d49-4493-b4e5-71f67727a612.htseq_counts.txt.gz']
 ['TARGET-30-PASEGA' 'ff1848ab-48fd-475b-b0bd-5ea63b92767c'
  '778cb182-99af-4274-b135-08f015173419.htseq_counts.txt.gz']
 ['TARGET-30-PASFGG' '9e361623-11ef-4e78-a913-374aeccaec59'
  'be1aaae1-79e1-44ad-86f4-7e34bc962e85.htseq_counts.txt.gz']
 ['TARGET-30-PASFIC' '5e8ec891-4e24-45b3-9c9d-162e44d593ed'
  'fc373693-616e-4880-a412-73b8c6aef5e0.htseq_counts.txt.gz']
 ['TARGET-30-PASGAP' 'aaf47812-2a24-4677-8f0d-f42f23a49687'
  '1e558433-3d66-49df-be5b-90e4e99e3612.htseq_counts.txt.gz']
 ['TARGET-30-PASGAP' '65195757-1467-44ee-9b28-d5eec593053d'
  'a7056f3e-027a-40bb-9c09-94090bb7cca6.htseq_counts.txt.gz']
 ['TARGET-30-PASGAP' 'aaf47812-2a24-4677-8f0d-f42f23a49687'
  '1e558433-3d66-49df-be5b-90e4e99e3612.htseq_counts.txt.gz']
 ['TARGET-30-PASGAP' '65195757-1467-44ee-9b28-d5eec593053d'
  'a7056f3e-027a-40bb-9c09-94090bb7cca6.htseq_counts.txt.gz']
 ['TARGET-30-PASGUT' '150ed055-7d7e-447e-bc49-b44e45947d60'
  'dbc36d36-4478-479c-8739-d897286a6a10.htseq_counts.txt.gz']
 ['TARGET-30-PASHFA' 'c60a580a-8c66-420b-b98e-7068e302157a'
  'ccdd1b35-6ab6-4428-acc5-9ec2e2638900.htseq_counts.txt.gz']
 ['TARGET-30-PASHFA' 'c60a580a-8c66-420b-b98e-7068e302157a'
  'ccdd1b35-6ab6-4428-acc5-9ec2e2638900.htseq_counts.txt.gz']
 ['TARGET-30-PASJZC' '15bdf4d6-c0c9-4247-97dc-618e87f3441d'
  'c7306b55-f89e-4168-a050-03971be9e958.htseq_counts.txt.gz']
 ['TARGET-30-PASMDM' '5678d45f-711b-4723-86c4-fa9dcf3300ab'
  '161feb75-a60e-4b61-b7b7-af730262fc30.htseq_counts.txt.gz']
 ['TARGET-30-PASMJG' 'bce88578-65b5-419b-bbaf-17071ad533b4'
  'b26b895e-2736-40e1-acf4-4f46e02b10d0.htseq_counts.txt.gz']
 ['TARGET-30-PASMNT' 'e4c334a4-0098-4140-a0c7-27b557e82ad4'
  '0847c989-b34f-4bbb-9637-d030a8cc6a55.htseq_counts.txt.gz']
 ['TARGET-30-PASNEF' 'a24434d2-b679-4359-b285-e804bf0e4e66'
  'c89b6a61-ea39-47aa-bd62-69f78275497f.htseq_counts.txt.gz']
 ['TARGET-30-PASNML' 'f5034a02-9da8-4854-8035-e5653c2c0e52'
  '14e74d6a-a9b8-4014-96b9-1864df1c394c.htseq_counts.txt.gz']
 ['TARGET-30-PASNPG' 'a11b4bc2-35c3-4bb0-9de7-80261c6e8357'
  'cd796f06-ba7a-42a1-aa96-8c39018647a2.htseq_counts.txt.gz']
 ['TARGET-30-PASNPG' '2ef507bd-7568-498e-bfd3-76a9503c5adf'
  'dccc0820-49d8-40df-84d4-55f5315c6742.htseq_counts.txt.gz']
 ['TARGET-30-PASNPG' 'a11b4bc2-35c3-4bb0-9de7-80261c6e8357'
  'cd796f06-ba7a-42a1-aa96-8c39018647a2.htseq_counts.txt.gz']
 ['TARGET-30-PASNPG' '2ef507bd-7568-498e-bfd3-76a9503c5adf'
  'dccc0820-49d8-40df-84d4-55f5315c6742.htseq_counts.txt.gz']
 ['TARGET-30-PASNZU' 'ca891c31-bf17-4b3f-8b95-2f8e9fd0c068'
  '6180a6dc-1dc7-4d01-a38b-1a81641304a7.htseq_counts.txt.gz']
 ['TARGET-30-PASPBZ' '83b700b9-2f5d-40eb-b628-2ed6ddab3e45'
  '1fd07773-7eb7-455a-95f9-f7dc88c2e5af.htseq_counts.txt.gz']
 ['TARGET-30-PASPER' '2df90d76-8e7e-436f-a645-f05f140d0c15'
  'a2043703-78e0-40b6-8160-07ad44003f10.htseq_counts.txt.gz']
 ['TARGET-30-PASRFS' '0e8053ef-7f14-44ba-963b-2d41c298d137'
  'd37bed89-b494-43be-939a-dd8c9bbcb050.htseq_counts.txt.gz']
 ['TARGET-30-PASSRN' '87499618-1e59-46ef-8eb1-9a1c154bcb42'
  '94dafd70-a13b-40b2-a238-4b97a6d3f5a4.htseq_counts.txt.gz']
 ['TARGET-30-PASSRS' '2ce36622-5c88-4620-bdd2-3bc725da77b0'
  'df7aa921-6acd-4497-bca6-0bb77e363af9.htseq_counts.txt.gz']
 ['TARGET-30-PASSWW' '1c0d783c-2c97-4f24-83a8-ed7b01a62567'
  '4aa6c2df-4d82-434a-b17e-910380f35cbb.htseq_counts.txt.gz']
 ['TARGET-30-PASTCN' 'ca7e4f23-d750-4a82-830b-d399eafaf06e'
  'f82fbb0a-1747-4e06-bbef-b63bde3c0e23.htseq_counts.txt.gz']
 ['TARGET-30-PASTKC' 'afee125c-fa41-47e7-ac5c-25c0f7424724'
  '5be3488c-0fd3-4130-b941-4c01430f2cee.htseq_counts.txt.gz']
 ['TARGET-30-PASUCB' 'da0c5c42-a13d-4e27-a69b-200a28e45c67'
  '9f319663-ea43-4e7f-b0f1-fce782186c12.htseq_counts.txt.gz']
 ['TARGET-30-PASUML' 'e8c17b2e-2e24-4953-b742-e56947c2571d'
  '66d3a451-f179-4302-99e7-a1863089c2f0.htseq_counts.txt.gz']
 ['TARGET-30-PASUYG' 'cc425bdb-7c42-47a3-bf13-a595564f521d'
  '2d030796-7518-4d42-8c56-d156630b754e.htseq_counts.txt.gz']
 ['TARGET-30-PASVRU' '5f192281-610a-4dcc-9e5c-6fbfbdbd65a6'
  'f3ca36e8-e4cb-43b9-aa49-56ce19bbcd37.htseq_counts.txt.gz']
 ['TARGET-30-PASWFB' '00fc4fe6-231c-4794-a22f-621bf7e14e58'
  'eaed9794-7bc4-4e23-86af-b3e572969e65.htseq_counts.txt.gz']
 ['TARGET-30-PASWIJ' '289223e4-b288-480d-9237-0b48ac661ce2'
  '9163a399-3002-4c0b-8fbf-913efb800bfc.htseq_counts.txt.gz']
 ['TARGET-30-PASWVY' '0b6a89c4-cc34-4aef-acda-cfdcbd8b8cb6'
  '2bceadbf-c633-4780-b438-7e39093d1cf8.htseq_counts.txt.gz']
 ['TARGET-30-PASWYR' '4d4f7214-4cb7-4856-bd1d-8af4b7a0af36'
  '1b53853b-c333-4ad9-a1cd-e14750e1c884.htseq_counts.txt.gz']
 ['TARGET-30-PASXGP' '0c4c6c95-3a0f-4f36-9912-8eedd11e08b4'
  'd2208366-67b4-4dff-813f-65ac2929004d.htseq_counts.txt.gz']
 ['TARGET-30-PASXHE' 'bff2c70f-296b-4472-8fa2-c24229ba407a'
  'ab9d872b-8e15-4be1-8c9c-d32442aebe64.htseq_counts.txt.gz']
 ['TARGET-30-PASXIE' 'dcbc9a83-e9bd-4ef5-8fe1-1bda073f4e23'
  '72bad95b-022f-45e2-b174-4a9e9c063251.htseq_counts.txt.gz']
 ['TARGET-30-PASXRG' 'ef0364c1-b152-437f-b236-a01afe74f914'
  '9a200379-16b8-4a5a-8cf4-e6ef74450388.htseq_counts.txt.gz']
 ['TARGET-30-PASXRJ' '72eff95d-a032-49f4-9b65-d5db7dd6efff'
  '94375e75-6ac5-4947-8dfa-c20048ce23f7.htseq_counts.txt.gz']
 ['TARGET-30-PASYPX' '5ad6072e-b35b-4e62-937d-6c7ab706a346'
  '34253522-71e6-480e-a832-95491686d146.htseq_counts.txt.gz']
 ['TARGET-30-PASYPX' '87af332b-b4e9-4169-a344-d5639f798b98'
  '74a9a251-862d-46d1-b8ad-cca567554ca5.htseq_counts.txt.gz']
 ['TARGET-30-PASZKE' '75c00670-1760-416e-b68f-de18d23aa924'
  'f3815e50-5614-4282-97d9-de3ce9352070.htseq_counts.txt.gz']
 ['TARGET-30-PATAYJ' '672df550-39ca-46e0-9e0e-cf747b4445f7'
  '6706a39e-46ed-4079-8eb0-f3bb29e868af.htseq_counts.txt.gz']
 ['TARGET-30-PATBMM' '1a225f89-88c0-4257-89e4-a1b8b922fc54'
  '23743c55-9cb3-4e7e-804c-a412671f71d4.htseq_counts.txt.gz']
 ['TARGET-30-PATCFL' 'f7f6648f-a56b-4c77-9e11-71eadfc77c67'
  '02c3d39a-1a70-460f-8f4b-0f32707e6370.htseq_counts.txt.gz']
 ['TARGET-30-PATDWN' '95dbb57e-3661-4d83-af50-4e09e868b63d'
  '0caca238-0313-4dd1-b39f-f14bf2e45603.htseq_counts.txt.gz']
 ['TARGET-30-PATDXC' '4009cf11-c3c3-47dd-a8f1-70e832d4db9a'
  '9dc9c25b-6851-40f5-86a4-52408511efa0.htseq_counts.txt.gz']
 ['TARGET-30-PATEPF' '9c14f4ef-d00f-46eb-b506-e183423864dc'
  'bd5c4d23-b7eb-4705-b891-89e895b0bfa3.htseq_counts.txt.gz']
 ['TARGET-30-PATESI' '76ccd2cb-209d-4b89-a32a-d2fb7f429604'
  '8e7f5d59-0d49-477b-a3fc-6ed7b9f1d171.htseq_counts.txt.gz']
 ['TARGET-30-PATFCY' 'e4b3c338-af07-4361-9cd8-84b915cc9d80'
  '14f04c0b-5eb3-482a-b48a-b240af42f852.htseq_counts.txt.gz']
 ['TARGET-30-PATFXV' 'adfd4e23-f4af-48ad-bffe-c716d5bfb1c0'
  '82919025-5103-424e-97f6-e47c69d04fc3.htseq_counts.txt.gz']
 ['TARGET-30-PATGJU' '40830cfe-4e49-41ca-aa3f-a49862cc7dd8'
  '98b835e0-d6fc-494a-b999-ef45cdabe31e.htseq_counts.txt.gz']
 ['TARGET-30-PATGLU' '7e81c730-3128-4cbc-a26e-b3a6c35f9811'
  '40f8a82b-1e68-4068-a7ed-76b947cfdddb.htseq_counts.txt.gz']
 ['TARGET-30-PATHKB' '6d236252-105b-4d84-b3e9-3bfd78edf690'
  '061c9223-974f-4e94-9ea0-e7e7a2c99003.htseq_counts.txt.gz']
 ['TARGET-30-PATHVK' '28528729-e91f-45d8-a667-6d889fbe7c42'
  'dc48f321-8a1e-4be7-83e4-3225cd2ef850.htseq_counts.txt.gz']
 ['TARGET-30-PATNKP' 'ed024585-eaf1-4a5c-baad-da652c71904c'
  '705a7acb-5374-4337-914a-7af38c3a17e4.htseq_counts.txt.gz']
 ['TARGET-30-PATNKP' 'ed024585-eaf1-4a5c-baad-da652c71904c'
  '705a7acb-5374-4337-914a-7af38c3a17e4.htseq_counts.txt.gz']
 ['TARGET-30-PATYIL' 'd739bce9-327f-4424-adad-646696daa4a3'
  '3005d31f-5263-47e6-895c-8f78330d8a00.htseq_counts.txt.gz']
 ['TARGET-30-PATYIL' 'd03d76c7-548a-4d7b-8086-405b8897a698'
  '66973fbc-5120-4834-8469-747d43d4ea2c.htseq_counts.txt.gz']
 ['TARGET-30-PATYIL' 'd739bce9-327f-4424-adad-646696daa4a3'
  '3005d31f-5263-47e6-895c-8f78330d8a00.htseq_counts.txt.gz']
 ['TARGET-30-PATYIL' 'd03d76c7-548a-4d7b-8086-405b8897a698'
  '66973fbc-5120-4834-8469-747d43d4ea2c.htseq_counts.txt.gz']
 ['TARGET-30-PAUDDK' '1c68b4c7-0c04-4c81-9715-db54f693a59e'
  '4fdf6f6d-d896-4bc9-b91b-c5f727f9b6e8.htseq_counts.txt.gz']
 ['TARGET-30-PAUDDK' 'bf442116-4a6d-49a0-ae1f-a7f71b4aaff9'
  '1e5e6696-7dd2-402c-8465-38f40bcf0a1c.htseq_counts.txt.gz']
 ['TARGET-30-PAUDDK' '1c68b4c7-0c04-4c81-9715-db54f693a59e'
  '4fdf6f6d-d896-4bc9-b91b-c5f727f9b6e8.htseq_counts.txt.gz']
 ['TARGET-30-PAUDDK' 'bf442116-4a6d-49a0-ae1f-a7f71b4aaff9'
  '1e5e6696-7dd2-402c-8465-38f40bcf0a1c.htseq_counts.txt.gz']]

In [13]:
# cli_arr = clinical.to_numpy()
# print(cli_arr)

In [14]:
# manifest_txt = pd.read_table(path+'txt_manifest.txt', sep='\t', index_col='id', usecols=['id', 'filename'])
# manifest_txt = pd.read_table(path+'txt_manifest.txt', sep='\t', usecols=['id', 'filename'])
# manifest_txt.head()

In [15]:
# df = manifest_txt.loc['8be4dacc-7926-489c-9455-eca7f6f1b184']
# df

In [16]:
# manifest_txt_arr = manifest_txt.to_numpy()
# print(manifest_txt_arr)

In [22]:
def read_expression(file_id, filename):
    df = pd.read_table(path+'cases/'+os.path.join(file_id, filename), sep='\t', index_col=0, header=None, compression='gzip')
    array = df.to_numpy()
#     array = array.T[0]      # FPKM
    array = array.T[0][:-5] # counts
    return array

# a = read_expression('b19431df-0e34-4771-adda-6dbffcb60503','a46c4421-42d7-49b3-b109-f8bbe1e2bc83.htseq_counts.txt.gz')
# print(a)

In [23]:
l_exp = []
l_cli = []
for sample in samples:
    file_id = sample[1]
    filename = sample[2]
    case_id = sample[0]
#     print(id, filename)
    try:
        death = clinical.loc[case_id].to_numpy()
        expression = read_expression(file_id, filename)
#         temp = np.append(expression, death)
#         print(temp)
        l_exp.append(expression)
        l_cli.append(death)
    except:
        print('no such case:', case_id)

print(l_exp)
print(l_cli)

[array([1601,    9, 1587, ...,    0,    0,    0]), array([ 934,   10, 1414, ...,    0,    0,    0]), array([1799,    0, 1271, ...,    0,    0,    0]), array([1522,    0, 4287, ...,    0,    0,    0]), array([4609,    2, 1409, ...,    0,    0,    0]), array([1087,    0, 1230, ...,    0,    0,    0]), array([2829,   11, 2990, ...,    0,    0,    0]), array([1301,   11, 1267, ...,    0,    0,    0]), array([2290,    6, 1189, ...,    0,    0,    0]), array([1003,    3,  853, ...,    0,    0,    0]), array([885,   0, 540, ...,   0,   0,   0]), array([3018,   12, 2437, ...,    0,    0,    0]), array([1039,    2, 1359, ...,    0,    0,    0]), array([524,   5, 948, ...,   0,   0,   0]), array([ 841,    0, 1209, ...,    0,    0,    0]), array([1568,    0, 1333, ...,    0,    0,    0]), array([1039,    0, 2341, ...,    0,    0,    0]), array([1936,    2,  641, ...,    0,    0,    0]), array([1652,  178, 1623, ...,    0,    0,    0]), array([ 937,    1, 1659, ...,    0,    0,    0]), array([1871,    5, 2925, ...,    0,    0,    0]), array([ 293,    4, 2568, ...,    0,    0,    0]), array([1703,   15, 1304, ...,    0,    0,    0]), array([2311,    2, 1825, ...,    0,    0,    0]), array([1184,    2, 1188, ...,    0,    0,    0]), array([3866,    0, 3945, ...,    0,    0,    0]), array([1285,    3, 1422, ...,    0,    0,    0]), array([2969,   17, 1663, ...,    0,    0,    0]), array([1193,    7, 1707, ...,    0,    0,    0]), array([ 531,   12, 1857, ...,    0,    0,    0]), array([ 441,    2, 2598, ...,    0,    0,    0]), array([2492,    7, 2211, ...,    0,    0,    0]), array([2773,    2, 2864, ...,    0,    0,    0]), array([1079,    2,  796, ...,    0,    0,    0]), array([1512,   15, 1504, ...,    0,    0,    0]), array([2314,    0, 1379, ...,    0,    0,    0]), array([2226,    4, 2100, ...,    0,    0,    0]), array([1215,    2,  905, ...,    0,    0,    0]), array([3000,    1, 1942, ...,    0,    0,    0]), array([ 732,    0, 1247, ...,    0,    0,    0]), array([1117,    3, 1587, ...,    0,    0,    0]), array([3907,    5, 1295, ...,    0,    0,    0]), array([1591,    6, 2225, ...,    0,    0,    0]), array([1116,   17, 1244, ...,    0,    0,    0]), array([1538,    2, 1733, ...,    0,    0,    0]), array([2313,   30, 3898, ...,    0,    0,    0]), array([2425,   17, 2017, ...,    0,    0,    0]), array([2366,   13, 2348, ...,    0,    0,    0]), array([2655,    3, 1459, ...,    0,    0,    0]), array([1632,   16, 1252, ...,    0,    0,    0]), array([2502,   13, 1977, ...,    0,    0,    0]), array([2149,    8, 2197, ...,    0,    0,    0]), array([1172,   72, 2264, ...,    0,    0,    0]), array([1167,    3, 1844, ...,    0,    0,    0]), array([1167,    3, 1844, ...,    0,    0,    0]), array([2144,    3, 1465, ...,    0,    0,    0]), array([1255,   18, 1674, ...,    0,    0,    0]), array([1527,   10, 2506, ...,    0,    0,    0]), array([2033,   67, 1689, ...,    0,    0,    0]), array([1952,   10, 2326, ...,    0,    0,    0]), array([2200,    0, 1817, ...,    0,    0,    0]), array([ 643,    3, 1585, ...,    0,    0,    0]), array([1621,    0, 1699, ...,    0,    0,    0]), array([2210,   34, 1446, ...,    0,    0,    0]), array([948,   0, 853, ...,   0,   0,   0]), array([2210,   34, 1446, ...,    0,    0,    0]), array([948,   0, 853, ...,   0,   0,   0]), array([2255,    1, 1591, ...,    0,    0,    0]), array([1128,    7, 1918, ...,    0,    0,    0]), array([1654,    9, 1502, ...,    0,    0,    0]), array([4227,    2, 2019, ...,    0,    0,    0]), array([ 880,    5, 2574, ...,    0,    0,    0]), array([743,   4, 999, ...,   0,   0,   0]), array([ 998,    8, 1108, ...,    0,    0,    0]), array([2284,    2, 1424, ...,    0,    0,    0]), array([ 998,    8, 1108, ...,    0,    0,    0]), array([2284,    2, 1424, ...,    0,    0,    0]), array([2344,    1, 1632, ...,    0,    0,    0]), array([ 840,    1, 3410, ...,    0,    0,    0]), array([ 840,    1, 3410, ...,    0,    0,    0]), array([3181,  140, 1966, ...,    0,    0,    0]), array([1033,    4, 1902, ...,    0,    0,    0]), array([1733,    1, 1431, ...,    0,    0,    0]), array([ 151,    0, 1683, ...,    0,    0,    0]), array([1249,    5, 1603, ...,    0,    0,    0]), array([3386,    8, 1546, ...,    0,    0,    0]), array([1664,    4, 2493, ...,    0,    0,    0]), array([2400,    1, 1530, ...,    0,    0,    0]), array([5245,    1, 1712, ...,    0,    0,    0]), array([1899,    1, 2629, ...,    0,    0,    0]), array([2592,   20, 3046, ...,    0,    0,    0]), array([1559,   11, 1462, ...,    0,    0,    0]), array([ 963,   14, 1435, ...,    0,    0,    0]), array([1458,    2, 2290, ...,    0,    0,    0]), array([ 963,   14, 1435, ...,    0,    0,    0]), array([1458,    2, 2290, ...,    0,    0,    0]), array([2793,    2, 1966, ...,    0,    0,    0]), array([2915,   12, 2017, ...,    0,    0,    0]), array([2915,   12, 2017, ...,    0,    0,    0]), array([3551,    5, 2088, ...,    0,    0,    0]), array([3716,    0, 1747, ...,    0,    0,    0]), array([2837,   21, 3460, ...,    0,    0,    0]), array([ 923,    5, 4089, ...,    0,    0,    0]), array([1454,    7, 1313, ...,    0,    0,    0]), array([4217,    7, 1243, ...,    0,    0,    0]), array([1317,   10, 1267, ...,    0,    0,    0]), array([2480,   18, 1744, ...,    0,    0,    0]), array([1317,   10, 1267, ...,    0,    0,    0]), array([2480,   18, 1744, ...,    0,    0,    0]), array([2938,    1, 1754, ...,    0,    0,    0]), array([3568,    0, 1742, ...,    0,    0,    0]), array([2708,   10, 2348, ...,    0,    0,    0]), array([2281,    3, 2037, ...,    0,    0,    0]), array([1421,   10,  938, ...,    0,    0,    0]), array([5446,    4, 3723, ...,    0,    0,    0]), array([4579,    8, 1570, ...,    0,    0,    0]), array([1807,    3, 1947, ...,    0,    0,    0]), array([1772,    0, 1492, ...,    0,    0,    0]), array([3488,    2, 2014, ...,    0,    0,    0]), array([2358,    5, 2018, ...,    0,    0,    0]), array([ 696,    0, 1609, ...,    0,    0,    0]), array([1395,    2, 1763, ...,    0,    0,    0]), array([2065,    2, 1732, ...,    0,    0,    0]), array([ 926,    4, 1150, ...,    0,    0,    0]), array([2098,    2, 1710, ...,    0,    0,    0]), array([1070,    1, 1178, ...,    0,    0,    0]), array([2937,    3, 1912, ...,    0,    0,    0]), array([ 712,    8, 2997, ...,    0,    0,    0]), array([615,   2, 931, ...,   0,   0,   0]), array([1753,    8,  991, ...,    0,    0,    0]), array([1550,    7, 1462, ...,    0,    0,    0]), array([1635,    0, 1035, ...,    0,    0,    0]), array([299,   0, 657, ...,   0,   0,   0]), array([4512,    1, 1380, ...,    0,    0,    0]), array([3522,    9, 1776, ...,    0,    0,    0]), array([ 393,    1, 2784, ...,    0,    0,    0]), array([2088,    0, 1436, ...,    0,    0,    0]), array([3049,    4, 2029, ...,    0,    0,    0]), array([ 911,    9, 1200, ...,    0,    0,    0]), array([1414,    2, 2314, ...,    0,    0,    0]), array([1041,    3, 2198, ...,    0,    0,    0]), array([1290,    3, 3098, ...,    0,    0,    0]), array([1868,    2, 1437, ...,    0,    0,    0]), array([3260,   31, 1618, ...,    0,    0,    0]), array([1651,   19, 1629, ...,    0,    0,    0]), array([1836,    5, 1767, ...,    0,    0,    0]), array([3470,    1, 3025, ...,    0,    0,    0]), array([1235,    3, 2519, ...,    0,    0,    0]), array([1235,    3, 2519, ...,    0,    0,    0]), array([956,   1, 754, ...,   0,   0,   0]), array([ 786,    6, 1188, ...,    0,    0,    0]), array([956,   1, 754, ...,   0,   0,   0]), array([ 786,    6, 1188, ...,    0,    0,    0]), array([1023,    4, 1030, ...,    0,    0,    0]), array([783,   3, 784, ...,   0,   0,   0]), array([1023,    4, 1030, ...,    0,    0,    0]), array([783,   3, 784, ...,   0,   0,   0])]
[array([1]), array([1]), array([1]), array([1]), array([1]), array([0]), array([0]), array([1]), array([0]), array([1]), array([0]), array([1]), array([0]), array([0]), array([0]), array([1]), array([1]), array([1]), array([0]), array([1]), array([1]), array([1]), array([0]), array([1]), array([0]), array([1]), array([0]), array([0]), array([0]), array([1]), array([1]), array([0]), array([1]), array([1]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([1]), array([0]), array([1]), array([1]), array([0]), array([0]), array([1]), array([1]), array([1]), array([1]), array([0]), array([1]), array([0]), array([0]), array([0]), array([0]), array([1]), array([0]), array([0]), array([0]), array([0]), array([1]), array([0]), array([0]), array([0]), array([1]), array([1]), array([1]), array([1]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([1]), array([1]), array([0]), array([1]), array([1]), array([1]), array([1]), array([0]), array([1]), array([1]), array([0]), array([0]), array([1]), array([1]), array([1]), array([0]), array([0]), array([0]), array([0]), array([0]), array([1]), array([0]), array([0]), array([1]), array([0]), array([1]), array([0]), array([1]), array([0]), array([0]), array([1]), array([1]), array([1]), array([1]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([0]), array([1]), array([0]), array([0]), array([0]), array([0]), array([1]), array([1]), array([1]), array([1]), array([1]), array([0]), array([1]), array([0]), array([0]), array([1]), array([1]), array([1]), array([1]), array([1]), array([1]), array([0]), array([0]), array([0]), array([0])]

In [24]:
exp = np.array(l_exp)
print(exp.shape)
cli = np.array(l_cli)
print(cli.shape)

(157, 60483)
(157, 1)

In [25]:
exp_df = pd.DataFrame(exp.T)
print(exp_df.shape)
exp_df.head()

(60483, 157)

,0,1,2,3,4,5,6,7,8,9,...,147,148,149,150,151,152,153,154,155,156
0,1601,934,1799,1522,4609,1087,2829,1301,2290,1003,...,1235,1235,956,786,956,786,1023,783,1023,783
1,9,10,0,0,2,0,11,11,6,3,...,3,3,1,6,1,6,4,3,4,3
2,1587,1414,1271,4287,1409,1230,2990,1267,1189,853,...,2519,2519,754,1188,754,1188,1030,784,1030,784
3,674,424,573,682,1089,856,1286,936,957,397,...,1622,1622,418,572,418,572,801,1233,801,1233
4,202,281,431,310,557,227,538,239,235,154,...,865,865,192,323,192,323,212,273,212,273

In [26]:
m = dict()
c = 1
for i in exp_df.columns:
	if i not in m:
		m[i] = 'F'+str(c)
		c+=1

print(m)

{0: 'F1', 1: 'F2', 2: 'F3', 3: 'F4', 4: 'F5', 5: 'F6', 6: 'F7', 7: 'F8', 8: 'F9', 9: 'F10', 10: 'F11', 11: 'F12', 12: 'F13', 13: 'F14', 14: 'F15', 15: 'F16', 16: 'F17', 17: 'F18', 18: 'F19', 19: 'F20', 20: 'F21', 21: 'F22', 22: 'F23', 23: 'F24', 24: 'F25', 25: 'F26', 26: 'F27', 27: 'F28', 28: 'F29', 29: 'F30', 30: 'F31', 31: 'F32', 32: 'F33', 33: 'F34', 34: 'F35', 35: 'F36', 36: 'F37', 37: 'F38', 38: 'F39', 39: 'F40', 40: 'F41', 41: 'F42', 42: 'F43', 43: 'F44', 44: 'F45', 45: 'F46', 46: 'F47', 47: 'F48', 48: 'F49', 49: 'F50', 50: 'F51', 51: 'F52', 52: 'F53', 53: 'F54', 54: 'F55', 55: 'F56', 56: 'F57', 57: 'F58', 58: 'F59', 59: 'F60', 60: 'F61', 61: 'F62', 62: 'F63', 63: 'F64', 64: 'F65', 65: 'F66', 66: 'F67', 67: 'F68', 68: 'F69', 69: 'F70', 70: 'F71', 71: 'F72', 72: 'F73', 73: 'F74', 74: 'F75', 75: 'F76', 76: 'F77', 77: 'F78', 78: 'F79', 79: 'F80', 80: 'F81', 81: 'F82', 82: 'F83', 83: 'F84', 84: 'F85', 85: 'F86', 86: 'F87', 87: 'F88', 88: 'F89', 89: 'F90', 90: 'F91', 91: 'F92', 92: 'F93', 93: 'F94', 94: 'F95', 95: 'F96', 96: 'F97', 97: 'F98', 98: 'F99', 99: 'F100', 100: 'F101', 101: 'F102', 102: 'F103', 103: 'F104', 104: 'F105', 105: 'F106', 106: 'F107', 107: 'F108', 108: 'F109', 109: 'F110', 110: 'F111', 111: 'F112', 112: 'F113', 113: 'F114', 114: 'F115', 115: 'F116', 116: 'F117', 117: 'F118', 118: 'F119', 119: 'F120', 120: 'F121', 121: 'F122', 122: 'F123', 123: 'F124', 124: 'F125', 125: 'F126', 126: 'F127', 127: 'F128', 128: 'F129', 129: 'F130', 130: 'F131', 131: 'F132', 132: 'F133', 133: 'F134', 134: 'F135', 135: 'F136', 136: 'F137', 137: 'F138', 138: 'F139', 139: 'F140', 140: 'F141', 141: 'F142', 142: 'F143', 143: 'F144', 144: 'F145', 145: 'F146', 146: 'F147', 147: 'F148', 148: 'F149', 149: 'F150', 150: 'F151', 151: 'F152', 152: 'F153', 153: 'F154', 154: 'F155', 155: 'F156', 156: 'F157'}

In [27]:
exp_df.rename(columns= lambda x:m[x], inplace=True)
exp_df.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F148,F149,F150,F151,F152,F153,F154,F155,F156,F157
0,1601,934,1799,1522,4609,1087,2829,1301,2290,1003,...,1235,1235,956,786,956,786,1023,783,1023,783
1,9,10,0,0,2,0,11,11,6,3,...,3,3,1,6,1,6,4,3,4,3
2,1587,1414,1271,4287,1409,1230,2990,1267,1189,853,...,2519,2519,754,1188,754,1188,1030,784,1030,784
3,674,424,573,682,1089,856,1286,936,957,397,...,1622,1622,418,572,418,572,801,1233,801,1233
4,202,281,431,310,557,227,538,239,235,154,...,865,865,192,323,192,323,212,273,212,273

In [28]:
exp_df.to_csv(path+'DataMat.csv')

In [34]:
cli_df = pd.DataFrame(cli)
print(cli_df.shape)
cli_df.head()

(157, 1)

   0
0  1
1  1
2  1
3  1
4  1

In [35]:
cli_df.to_csv(path+'ClinicalData.csv')

In [45]:
array_dataset = pd.read_csv(path+"DataMat.csv")
clinical_dataset = pd.read_csv(path+"ClinicalData.csv")

In [50]:
X = array_dataset.iloc[:, 1:].values
Y = clinical_dataset.iloc[:, :].values

In [51]:
print(X)
print(Y)

[[    1172     2076      712 ...      885     3049     2708]
 [      72        3        8 ...        0        4       10]
 [    2264     1812     2997 ...      540     2029     2348]
 ...
 [       0        0        0 ...        0        0        0]
 [       0        0        0 ...        0        0        0]
 [21768857 24500254 21264151 ... 13438747 15752593 15248373]]
[[  0   1]
 [  1   1]
 [  2   0]
 [  3   0]
 [  4   0]
 [  5   0]
 [  6   1]
 [  7   1]
 [  8   0]
 [  9   1]
 [ 10   0]
 [ 11   1]
 [ 12   0]
 [ 13   0]
 [ 14   1]
 [ 15   1]
 [ 16   0]
 [ 17   0]
 [ 18   1]
 [ 19   1]
 [ 20   1]
 [ 21   1]
 [ 22   1]
 [ 23   0]
 [ 24   1]
 [ 25   1]
 [ 26   1]
 [ 27   1]
 [ 28   1]
 [ 29   0]
 [ 30   0]
 [ 31   1]
 [ 32   1]
 [ 33   0]
 [ 34   0]
 [ 35   1]
 [ 36   0]
 [ 37   0]
 [ 38   0]
 [ 39   1]
 [ 40   1]
 [ 41   0]
 [ 42   1]
 [ 43   1]
 [ 44   1]
 [ 45   0]
 [ 46   1]
 [ 47   0]
 [ 48   1]
 [ 49   0]
 [ 50   0]
 [ 51   1]
 [ 52   0]
 [ 53   1]
 [ 54   0]
 [ 55   1]
 [ 56   1]
 [ 57   1]
 [ 58   0]
 [ 59   0]
 [ 60   1]
 [ 61   1]
 [ 62   1]
 [ 63   0]
 [ 64   1]
 [ 65   1]
 [ 66   1]
 [ 67   1]
 [ 68   0]
 [ 69   0]
 [ 70   0]
 [ 71   1]
 [ 72   1]
 [ 73   1]
 [ 74   0]
 [ 75   1]
 [ 76   0]
 [ 77   1]
 [ 78   0]
 [ 79   1]
 [ 80   0]
 [ 81   0]
 [ 82   0]
 [ 83   1]
 [ 84   1]
 [ 85   1]
 [ 86   0]
 [ 87   1]
 [ 88   1]
 [ 89   1]
 [ 90   1]
 [ 91   0]
 [ 92   0]
 [ 93   0]
 [ 94   1]
 [ 95   1]
 [ 96   0]
 [ 97   1]
 [ 98   1]
 [ 99   1]
 [100   0]
 [101   0]
 [102   1]
 [103   1]
 [104   0]
 [105   0]
 [106   0]
 [107   1]
 [108   0]
 [109   1]
 [110   1]
 [111   1]
 [112   0]
 [113   0]
 [114   1]
 [115   1]
 [116   1]
 [117   0]
 [118   1]
 [119   0]
 [120   1]
 [121   0]
 [122   1]
 [123   0]
 [124   0]
 [125   0]
 [126   1]
 [127   1]
 [128   0]
 [129   1]
 [130   1]
 [131   0]
 [132   1]
 [133   0]
 [134   0]
 [135   0]
 [136   0]
 [137   0]
 [138   1]
 [139   1]
 [140   1]
 [141   1]
 [142   0]
 [143   1]
 [144   0]
 [145   0]
 [146   0]
 [147   0]
 [148   1]
 [149   0]
 [150   0]
 [151   0]
 [152   0]
 [153   0]
 [154   1]
 [155   0]
 [156   1]
 [157   1]
 [158   0]
 [159   0]
 [160   0]]

In [25]:
# df = pd.DataFrame(l)
# df.head()

,0,1,2,3,4,5,6,7,8,9,...,60479,60480,60481,60482,60483,60484,60485,60486,60487,60488
0,1172,72,2264,1577,1317,2113,3466,1941,1631,3628,...,0,0,0,0,12467072,3662051,0,0,21768857,1
1,2076,3,1812,1139,652,243,1609,1910,1991,1943,...,0,0,0,0,10315094,3962382,0,0,24500254,1
2,712,8,2997,1841,1143,575,1390,1352,1730,3054,...,0,0,0,0,17382334,3498292,0,0,21264151,0
3,3522,9,1776,2347,1156,802,1915,2052,2499,2613,...,0,0,0,0,14590902,3229494,0,0,12206783,0
4,1184,2,1188,808,438,183,1241,1558,901,1193,...,0,0,0,0,3450124,1998277,0,0,7115848,0

In [26]:
# df.to_csv(path+'data.csv', index=False, header=False)

In [31]:
# data = pd.read_csv(path+'data.csv', header=None)
# data.head()

,0,1,2,3,4,5,6,7,8,9,...,60479,60480,60481,60482,60483,60484,60485,60486,60487,60488
0,1172,72,2264,1577,1317,2113,3466,1941,1631,3628,...,0,0,0,0,12467072,3662051,0,0,21768857,1
1,2076,3,1812,1139,652,243,1609,1910,1991,1943,...,0,0,0,0,10315094,3962382,0,0,24500254,1
2,712,8,2997,1841,1143,575,1390,1352,1730,3054,...,0,0,0,0,17382334,3498292,0,0,21264151,0
3,3522,9,1776,2347,1156,802,1915,2052,2499,2613,...,0,0,0,0,14590902,3229494,0,0,12206783,0
4,1184,2,1188,808,438,183,1241,1558,901,1193,...,0,0,0,0,3450124,1998277,0,0,7115848,0

In [32]:
# x = data.iloc[:, :-1].values
# y = data.iloc[:, -1].values

In [33]:
# print(x)

[[    1172       72     2264 ...        0        0 21768857]
 [    2076        3     1812 ...        0        0 24500254]
 [     712        8     2997 ...        0        0 21264151]
 ...
 [     885        0      540 ...        0        0 13438747]
 [    3049        4     2029 ...        0        0 15752593]
 [    2708       10     2348 ...        0        0 15248373]]

In [34]:
# print(y)

[1 1 0 0 0 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 0 0 1 0
 0 0 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 1 1 1 0 1 1 1 1 0 0 0 1 1 1
 0 1 0 1 0 1 0 0 0 1 1 1 0 1 1 1 1 0 0 0 1 1 0 1 1 1 0 0 1 1 0 0 0 1 0 1 1
 1 0 0 1 1 1 0 1 0 1 0 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 1 0 0 0 0
 1 0 0 0 0 0 1 0 1 1 0 0 0]